<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poem.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @poem.content %>
</p>

<p>
  <strong>Auther:</strong>
  <%= @poem.auther %>
</p>

<%= link_to 'Edit', edit_poem_path %> |
<%= link_to 'Back', poems_path %>
